/* App.css */
.App {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  overflow: hidden;
  color: white;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  box-shadow: 0 0 10px white;
  animation: animate 50s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
  }
}
